.idea/
.gradle/
build/

compatability/.gradle
compatability/build

manhunt/.gradle
manhunt/build

proxy/.gradle
proxy/build

server/.gradle
server/build
server/src/main/resources/mapdata

service/.gradle
service/build
